html{
	padding: 20px;
}

@font-face{
	font-family: 'erasdust';
	src: url('font/erasdust.ttf') format('truetype');
}
@font-face{
	font-family: 'CrayonE';
	src: url('font/CrayonE.ttf') format('truetype');
}
	
html{
	padding: 10px;
	display:flex;
	justify-content: center;	
}

body{
	background-color: #e6dcd2;
	width: 100%;
}

strong{
	font-family: cursive;
	font-weight: 100;
}

/*---------------------------------------------------- ----Mise en page du header----------------------------------------------------------*/
header{
	background-image: url("images/footer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	
}


nav a{/*mise en forme de la police du menu*/
	text-decoration: none;
	color: white;
	font-family: erasdust; 
	font-size: 30px;
	margin: 10;
}

li{
	text-align: center;
	padding-top: 2%;
}


nav a:hover{
		color: #83bf34;
	}

/*--------------------------------------------------------------fin du header---------------------------------------------------------------*/

/*---------------------------------------------------------Mise en page de la section------------------------------------------------------*/
section{
		padding-top: 15px;
}

article{
	background: url("images/background2.jpg")no-repeat;
	background-position: center;
	background-size: 100%;
	border-radius: 50px;
	padding-top: 15px;

}

.textarea{
	text-align: center;
	line-height: 50px;
	font-family: CrayonE;
	background-color:rgba(255,255,255,0.5);
	padding: 10px;
	border-radius: 5%;
}

h1{
	font-size: 50px
}

p, h3{
	font-weight: 50px;
	font-size: 30px;
	font-size: 30px;

}


.agrandir{
	text-decoration: none;
	font-size: 20px;
	color: black;
}

.avatar{
	width: 100px;
	height: 100px;
}

@media screen and (min-width: 780px){

body{
 	background-image: url("images/crayons.png"), url("images/crayonsD.png");
 	background-repeat: no-repeat;
 	background-position: left 40%, right 40%;
 }

}


/***********************/
/*  menu cantine aside*/
/*********************/
.menuCantine{
	background: url("images/menuCantine.png");
	background-size: cover;
	text-align: center;
}

.menuCantine a{
	text-decoration: none;
	color: black
}

.menuCantine {
	width: 400px;
	height: 300px;
}

.menuCantine p{
	font-size: 15px;
}

.menuCantine h4{
	font-size: 15px;
	text-decoration:underline;
}

.menuCantine h2, .menuCantine h3{
	font-size: 20px;
}
/*-------------------------------------------------------------fin de la section-----------------------------------------------------------*/

/*-------------------------------------------------------------Mise en page du footer------------------------------------------------------*/
footer{
	background-image: url("images/footer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 15px;
	border-radius: 10px;
	padding: 15px;
}

footer a{
	-webkit-transition:-webkit-transform 2s;
	transition: transform 2s, border-radius 1s;
}

footer a:hover{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	border-radius: 50px;
}
/*----------------------------------------------------------------Fin du footer-------------------------------------------------------------*/




